<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>kostaJSPProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>team.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  
  <!-- DBCP 설정하는 부분  -->
  <resource-ref>
    <res-ref-name>jdbc/orcl</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- 필터 부분 -->
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>team.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/manageView/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>LoginCheck</display-name>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>team.controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>team.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>GetAllDataController</display-name>
    <servlet-name>GetAllDataController</servlet-name>
    <servlet-class>team.controller.GetAllDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllDataController</servlet-name>
    <url-pattern>/getAllData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetKindsOfAreaDataController</display-name>
    <servlet-name>GetKindsOfAreaDataController</servlet-name>
    <servlet-class>team.controller.GetConcertDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKindsOfAreaDataController</servlet-name>
    <url-pattern>/getKindsOfData.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageConcertController</display-name>
    <servlet-name>ManageConcertController</servlet-name>
    <servlet-class>team.controller.ManageConcertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageConcertController</servlet-name>
    <url-pattern>/manageConcert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageCityController</display-name>
    <servlet-name>ManageCityController</servlet-name>
    <servlet-class>team.controller.ManageCityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCityController</servlet-name>
    <url-pattern>/manageCity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageTypeController</display-name>
    <servlet-name>ManageTypeController</servlet-name>
    <servlet-class>team.controller.ManageTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageTypeController</servlet-name>
    <url-pattern>/manageType</url-pattern>
  </servlet-mapping>
</web-app>