/* 공통 CSS */

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Karma", sans-serif
}

.w3-bar-block .w3-bar-item {
	padding: 15px;
}

.img-hello {
	width: 100%;
	min-width: 266px;
	min-height: 300px;
	max-height: 380px;
}



.img-quarter {
	width: 100%;
	min-width: 200px;
	height: 400px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	background-color: #f5f5f5;
}

/* 모바일 미디어 쿼리 사용  */
@MEDIA only screen and (max-width: 500px) {
	.img-quarter {
		width: 100%;
		min-width: 318px;
		height: 400px;
		vertical-align: middle;
		text-align: center;
		display: table-cell; 
	}
}
 
 
